/*#region colors*/
/*#a2d291*/
/*#bd2a6f*/
/*#endregion */
/*#region breakpoints */
/*#endregion */
/*#region display */
/*#endregion */
.ngts-panel {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.ngts-panel.ngts-sidebar.ngts-content {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  grid-template-rows: 100vh;
}
.ngts-panel.ngts-sidebar.ngts-content.ngts-content-split {
  grid-template-columns: minmax(200px, 300px) 1fr 1fr;
}
.ngts-panel.ngts-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
}
.ngts-panel.ngts-content.ngts-content-split {
  grid-template-columns: 1fr 1fr;
}
.ngts-panel.ngts-content.ngts-content-divide {
  grid-template-rows: 1fr 1fr;
}
.ngts-panel.ngts-content.ngts-content-divide-third {
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .ngts-panel.ngts-sidebar.ngts-content {
    display: grid;
    grid-template-columns: calc(100vw - (100vw - 100%));
    grid-template-rows: 60px calc(100vh - 60px);
  }
  .ngts-panel.ngts-sidebar.ngts-content.ngts-content-split {
    grid-template-columns: calc(100vw - (100vw - 100%));
    grid-template-rows: 60px calc(50vh - 30px) calc(50vh - 30px);
  }
  .ngts-panel.ngts-content {
    display: grid;
    grid-template-columns: calc(100vw - (100vw - 100%));
    grid-template-rows: calc(100vh - 60px);
  }
  .ngts-panel.ngts-content.ngts-content-split {
    grid-template-columns: calc(100vw - (100vw - 100%));
    grid-template-rows: calc(50vh - 30px) calc(50vh - 30px);
  }
  .ngts-panel.ngts-content.ngts-content-divide {
    grid-template-rows: calc(50vh - 30px) calc(50vh - 30px);
  }
}
/*#region typography */
@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alata Regular'), local('Alata-Regular'), url(https://fonts.gstatic.com/s/alata/v2/PbytFmztEwbIofe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v12/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
/*#endregion */
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: 'Alata', sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.2em;
}
h7 {
  font-size: 1.1em;
}
/*#region typography */
/*#endregion */
button {
  all: unset;
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
}
/*#region colors */
button.ngts-default,
.ngts-btn.ngts-default {
  border: 2px solid;
  border-color: #fff;
  background: #ccc;
}
/*#endregion */
nav.ngts-sidebar {
  /*background: @var-color-sidebar;
    padding: 10px;
    border-right: @var-border-sidebar;
    color:@var-color-primary-contrast;*/
}
@media screen and (max-width: 800px) {
  .ngts-sidebar {
    border: none;
  }
}
.ngts-nav > ul {
  list-style: none;
}
.ngts-nav.ngts-default {
  padding: 10px;
  z-index: 100;
  background: #2f2f2f;
  color: #ffffff;
}
.ngts-nav.ngts-default > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2em;
}
.ngts-nav.ngts-default > ul > li {
  height: 50px;
  /*background: #f0f;*/
  /*margin: 5px 0 5px 15px;*/
}
.ngts-nav.ngts-default > ul > li button,
.ngts-nav.ngts-default > ul > li a,
.ngts-nav.ngts-default > ul > li .ngts-btn {
  padding: 5px 10px;
  width: 100%;
  height: inherit;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: none;
}
.ngts-nav.ngts-default > ul > li i {
  width: 50px;
  text-align: center;
}
.ngts-nav.ngts-default li button:hover,
.ngts-nav.ngts-default li a:hover,
.ngts-nav.ngts-default li .ngts-btn:hover {
  background-color: #494949;
}
.ngts-nav.ngts-default li.active {
  background-color: #494949;
}
.ngts-nav.ngts-default .burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .ngts-nav.ngts-default {
    position: relative;
    display: flex;
    align-items: center;
    /*min-width: 368px;*/
  }
  .ngts-nav.ngts-default hr {
    display: none;
  }
  .ngts-nav.ngts-default > ul {
    background: #2f2f2f;
    color: #ffffff;
    min-width: 165px;
    width: 45vw;
    height: calc(100vh - 60px);
    display: block;
    position: absolute;
    top: 60px;
    left: -45vw;
    padding: 0;
    margin: 0;
    text-align: right;
    transition: left 0.5s;
  }
  .ngts-nav.ngts-default > ul.opened {
    left: 0;
  }
  .ngts-nav.ngts-default .burger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  .burger div {
    width: 35px;
    height: 5px;
    background-color: #626262;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change > div:first-child {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change > div:nth-child(2) {
    opacity: 0;
  }
  .change > div:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
.ngts-mosaic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  list-style: none;
  padding: 0;
}
.ngts-mosaic li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ngts-mosaic span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: #33333355;
  color: #fff;
  transition: background-color linear 300ms, color linear 300ms, font-size linear 300ms;
  padding: 20px;
  box-sizing: border-box;
}
.ngts-mosaic span:hover {
  background: #33333322;
  color: #eee;
  font-size: 1.2em;
}
.ngts-mosaic img {
  width: 100%;
  height: 100%;
}
.tile-list {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 200px;
  /*.tile-image {
        width: 130px;
        height: 130px;
        background: #333;
        position: relative;
        margin: 0 0 10px 0;

        &:after {
            content: "Placeholder";
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%) rotate(-45deg);
            color: #fff;
        }
    }*/
}
.tile-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  text-align: center;
  margin: 10px;
}
.ngts-loader {
  width: 100%;
  height: 100%;
  background: #00000022;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ngts-lightbox {
  display: none;
  z-index: 1001;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ngts-lightbox div {
  width: 100%;
  height: 100%;
  background: #333333ee;
}
.ngts-lightbox.active {
  display: block;
}
@media screen and (max-width: 800px) {
  .tile-list {
    margin: 0;
  }
  .ngts-mosaic {
    grid-template-columns: repeat(3, 1fr);
    font-size: 9px;
  }
  .ngts-mosaic span:hover {
    font-size: 1.2em;
  }
}
.ngts-panel > div:not(.ngts-panel) {
  padding: 10px;
}
hr {
  border-color: #4da2dd;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 10px 0px;
}
.ngts-accent-text {
  color: #4da2dd;
}
body {
  /*background: @var-color-primary;*/
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}