@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/js/config.js"></script>

<script type="text/javascript"
        data-main="../app.js" src="~/js/require.js/require.js"></script>

<div data-bind="component: 'dashboard'"></div>